* {
    font-family: 'Dosis', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Nunito', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */

}
body {
    background-image: url("https://wallpaperaccess.com/full/8351171.gif");
}
.pagina {
    width: 50%;
    height: 650px;
    padding: 4% 25%;
}
.chat {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.mensaje {
    width: 50%;
    /* background-color: #063940; */
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    
    /* white-space: pre-line; */
    /* color: #ece1c3; */
}
/* .mensaje_content {
    left: 50%;
    right: 50%;
    position: absolute;
} */
.mensaje h6 {
    font-size: 1vw;
    margin: 0;
}
.mensaje p {
    /* height: auto; */
    width: 200px;
    font-size: 1.7vw;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    white-space: initial;
}
.mensaje label {
    font-size: 0.8vw;
    margin: 0;
}
/* .screen {
    height: 100%;
    width: 50%;
    margin: 0 25%;
}
.chat {
    width: 80%;
    height: 400px;
    overflow-y: scroll;
}
.chat div {
    height: 175px;
}
*/
#enviarM form {
    height: 100px;
    width: 100%;
    /* padding: 0 5%; */
}

#enviarM input {
    border-radius: 10px;
    width: 80%;
    float: left;
}
#enviarM button {
    background-color: #3e838c;
    width: 20%;
    border-radius: 10px;
}